h5{
	margin: 0;
}
p{
	margin: 0;
}
ul{
	margin: 0;
}
li{
	margin: 0;
}

/*.nav-daohang-text ul li:nth-child(1) a{
	border-bottom: 3px solid #0080cc;
	color: #0080cc;
}*/
.tab_a_select{
	border-bottom: 3px solid #0080cc;
	color: #0080cc;
}
.content{
	margin-top: 3px;
	height: 1300px;
}
.one{
	height: inherit;
}
.one-left{
	height: inherit;
	width: 260px;
	background-color: #FFFFFF;
}
.one-left-bg{
	width: inherit;
	height: 400px;
	background-color: #EEEEEE;
}
.one-left-bg h5{
	color: #0080CC;
    font-size: 16px;
    text-align: left;
    padding: 10px 20px;
} 

.one-left-img{
	background: #7ECEF4;
	height: 78px;
	width: 260px;
	margin-top: 7px;
	position: relative;
}
.img-on{
	background: url(../img/knowledge_tab_on.png);
}
.img-unon{
	background: #7ECEF4;
}
.one-left-img a{
    position: absolute;
    padding: 25px;
    right: 0px;
    width: inherit;
    height: inherit;
    font-size: 16px;
    color: white;
}


.one-right{
	height: inherit;
	width: 728px;
	margin-left: 20px;
	float: left;
}
.one-right h5{
	text-align: left;
	margin-top: 15px;
	border-bottom: 2px dotted #999898;
	padding-bottom: 5px;
}

.button-div{
	width: 700px;
	height: 300px;
	margin: 50px 14px;
}
.right-button{
	width: 250px;
    height: 55px;
    margin: 10px;
    border-radius: 20px;
}

.data-time-width{
	width: 200px;
}

.right-diaocha-wenjuan{
	width: 700px;
	height: 1200px;
	margin: 20px 14px;
}

.right-shenqing-seacher{
	width: 700px;
	height: 300px;
	margin: 20px 14px;
}

#right_two{
	display: none;
}
#right_three{
	display: none;
}
#right_four{
	display: none;
}


/*效果*/
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	    outline: none;
}
ul{
	list-style: none;
}

.one-left-img:hover{
	background: url(../img/knowledge_tab_on.png);
}


